/* whitepaper theme */


/* global */

body {
    font-family: Verdana, arial, helvetica;
    -webkit-text-size-adjust: none;
    background-color: black;
    color: white;
    font-size: 150%;
}

a {
    color: cornflowerblue;
    text-decoration: none;
}

a: visited {
    color: cornflowerblue;
    text-decoration: none;
}

a: hover {
    color: cornflowerblue;
    text-decoration: underline;
}


/* standard layer */

.wrapper {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

.graphics {
    position: absolute;
    height: 33%;
    top: 0;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.text {
    position: absolute;
    top: 35%;
    bottom: 10%;
    overflow-y: scroll;

    width: 100%;
    box-sizing: border-box;
    padding: 10px 20px 10px 20px;
}

.input {
    position: fixed;
    height: 1.1em;
    bottom: 5px;
    box-sizing: border-box;
    width: 100%;
    padding: 0 10px;
    background-color: black;
}

.prompt {
    border: none;
    margin: 0;
    outline: none;
    width: 100%;
    font-size: 95%;
    background-color: #222;
    color: white;
}


.location_picture {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    max-width: 100%;
    max-height: 100%;
}

.half_text {
    top: 35%;
    bottom: 8%;
}

.half_graphics {
    height: 33%;
    top: 0;
}

.hidden {
    height: 0%;
}

.feedback {
    color: #aaa;
    text-shadow: 1px 1px 1px #000;
    text-transform: uppercase;
}

.all_text {
    top: 0;
    bottom: 8%;
    padding-bottom: 4em;
}


/* input placeholder */

: : -webkit-input-placeholder { color: #777; }
: : -moz-placeholder { color: #777; } /* firefox 19+ */
: -ms-input-placeholder { color: #777; } /* ie */
input: -moz-placeholder { color: #777; }


/* block layer */

.block_layer {
    position: absolute;
    left: 0 ;
    top: 0;
    bottom: 0;
    right: 0;
    display: none;
    z-index: 1000;
    background-color: black;
}

.block_layer .block_graphics {
    position: absolute;
    width: 100%;
    max-width: 100%;
    height: 50%;
    top: 0;
    display: block;
    background-color: black;
    box-sizing: border-box;
}

.block_picture {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
}

.block_layer .block_text {
    position: absolute;
    top: 62%;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    display: block;
    padding: 10px;
    background-color: black;
}


/* transcript layer */

.transcript_layer {
    position: absolute;
    left: 0 ;
    top: 0;
    bottom: 0;
    right: 0;
    display: none;
    z-index: 1001;
    overflow: scroll;
    background-color: black;
}

#transcript_area {
    height: 100%;
    width: 100%;
    overflow: scroll;
    box-sizing: border-box;
    padding: 10px;
}

.textpic {
    float: left
    margin: 25px;
}

.anykey_layer {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: transparent;
    z-index: 2000;
    display: none;
}


/* GAME */

.centrado {
    display: block;
    padding: 1em;
    text-align: center;
}

.titulo {
    font-size: 1.2em;
    font-weight: bold;
    color: #00C0C0;
}

@media (max-width: 1024px) {
    body {
        font-size: 200%;
    }

    .graphics {
    }

    .text {
    }

    .input {
    }

    .prompt {
        font-size: 80%;
    }

    .half_text
    {
    }

    .hidden
    {
        height: 0%;
    }

    .all_text
    {
        top: auto;
        bottom: auto;
        height: auto;
    }

    .wrapper {
        height: auto;
        max-height: auto;
        overflow: auto;
    }
}

@media (max-width: 600px) {
    body {
        font-size: 95%;
    }

    .titulo {
        font-size: 1.1em;
    }
}
